#modal-overlayUpdateInstructor {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.579);
    display: none;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}


.modal-bodyUpdateInstructor {
    width: 740px;
    height: 464px;
    background-color: #1A1A1A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
}


.modal-left-update {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.modal-right-update {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.profile-photo-container {
    width: 220px;
    height: 300px;
    position: relative;
}

.profile-photo-container img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.edit-photo-btn {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #00843d;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
}

.status-container {
    width: 100%;
    height: auto;
    color: white;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.status-container span {
    font-size: 16px;
    font-weight: bold;
    color: white;
    width: auto;
    height: auto;
}

.status-buttons {
    display: flex;
    gap: 10px;
    width: auto;
    height: auto;
}

.status {
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    background-color: #b0b0b028;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: auto;
    height: auto;
}

.status:hover {
    background-color: #444;
    transform: scale(1.05);

}

.status.active {
    background-color: #00843d;
    color: white;
    transform: scale(1.1);
    width: auto;
    height: auto;
}



.courses-container {
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    font-size: 14px;
}

.courses-container a {
    color: #00843d;
    margin-left: 5px;
    text-decoration: none;
    width: auto;
    height: auto;
}

.save-button {
    width: 140px;
    height: 45px;
    background-color: #00843d;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}


.edit-button-updateInstructor {
    width: 180px;
    height: 44px;
    background-color: #00843d;
    border: none;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container_return_UpdateInstructor {
    width: 142px;
    height: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 87px;
    right: 325px;
    z-index: 1000;
}

.container_return_UpdateInstructor>h5 {
    width: auto;
    height: auto;
    position: relative;
    top: 27%;
    font-size: 18px;
    font-weight: 400;
    z-index: 1000;
    color: #fff;
    left: 4%;
    cursor: pointer;
}


.preview-image-update {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}


.upload-area-update {
    width: 220px;
    height: 250px;
    border: 2px dotted #ccc;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;

}

/* Inputs en modo solo lectura */
.read-only {
    border: none !important;
    font-size: 1.1rem;
    background-color: transparent;
    color: #333;
    pointer-events: none;
}

.read-only-border {
    border: none !important;
    cursor: default;
}

.cursosAsignados {
    width: auto;
    height: auto;

}

.modal-left-update>p {
    width: auto;
    height: auto;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.modal-left-update>p>strong, .modal-left-update>p>span{
    width: auto;
    height: auto;
}


.valor-campo {
  margin-left: 8px;
  display: inline-block;
}
