.statusOptionActas {
  background: #b0b0b038;      /* gris claro para no seleccionados */
  border-radius: 8px;
  padding: 0.3rem 1rem;
  margin: 0.2rem 0.5rem 0.2rem 0;
  display: inline-block;
  transition: background 0.2s, color 0.2s;
  width: auto;
  height: auto;
  cursor: pointer;
}

.statusOptionActas.selected {
  background: #00843d;      /* verde para seleccionados */
}

/* Estilo para el select */
.selectEstadoActa {
  background: #b0b0b0;
  color: #222;
  border-radius: 8px;
  padding: 0.3rem 1rem;
  border: none;
  font-weight: bold;
  width: auto;
  height: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Estilo para las opciones del .selectEstadoActa */
.selectEstadoActa option {
  background: #b0b0b0;
  color: #222;
}

/* Hack para el hover de las opciones (no soportado en todos los navegadores) */
.selectEstadoActa option:hover,
.selectEstadoActa option:checked {
  background: #00843d;
  color: #fff;
}
.selectEstadoActa:focus {
  outline: none;
  border: 2px solid #00843d;
  box-shadow: 0 0 0 2px #b0b0b0;
}