.container_consultCourse {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_consultCourse>h2 {
    width: 100%;
    height: auto;
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin: 3rem 0 2rem 0;
}

.container_consultCourse>p {
    width: auto;
    height: auto;
    font-size: 16px;
    text-align: center;
}

.options_Search {
    width: auto;
    height: auto;
    background-color: #b0b0b03b;
    border-radius: 10px;
    margin: 1rem 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.options_Search>input {
    width: 20rem;
    height: auto;
    background-color: #1a1a1a;
    border-radius: 10px;
    border-style: none;
    padding: 0.5rem;
    font-size: 16px;
}

.searchCourse {
    width: 5rem;
    height: auto;
    background-color: #00843d;
    border-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 16px;
}

.custom-select-container {
    width: 7rem;
    height: auto;
    position: relative;
    width: fit-content;
}

.custom-select {
    width: auto;
    height: auto;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #1c1c1c;
    color: #fff;
    padding: 8px 36px 8px 16px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='%23ccc' stroke-width='2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 12px;
}

.custom-select:focus {
    outline: none;
}

.carousel-container {
    width: 44rem;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.carousel-container>h2 {
    width: auto;
    height: auto;
    font-size: 18px ;
    font-weight: 500;
}

.carousel-wrapper {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 1rem;
}

.carousel-wrapper>button {
    width: auto;
    height: auto;
}

.carousel-wrapper>button>img {
    width: 2rem;
    height: auto;
}

.carousel-track-search-course {
    display: flex;
    scroll-behavior: smooth;
    gap: 1rem;
    overflow-x: hidden;
    width: 580px;
    height: 170px;
    justify-content: center;
    align-items: center;
}

.carousel-card-search-course {
    flex: 0 0 auto;
    width: 130px;
    height: 170px;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}



.carousel-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text-search-course {
    position: absolute;
    bottom: 0rem;
    padding: 0.5rem;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
        background: linear-gradient(to top, #000000d3, transparent);


}

.card-text-search-course>h4,
.card-text-search-course>p {
    width: auto;
    height: auto;
    font-size: 14px;
    text-align: center;
}

.carousel-arrow {
    background: none;
    border: none;
    cursor: pointer;
}

.carousel-arrow img {
    width: 32px;
    height: 32px;
}

.lineMedium{
    width: 80%;
    height: 1px;
    background-color: #fff;
    margin-bottom: 2rem;
    opacity: 0.5;
}

.img_course{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    opacity: 0.4;
}

.error-message-search {
  color: #e53835;
  background-color: #e538351f;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 0;
  text-align: left;
  width: auto;
  height: auto;
  padding: 0.7rem;
  border-radius: 10px;
}

.illustration_search,.nub1,.nub2,.nub3{
    width: 20rem;
    height: auto;
}

.illustration_search{
    position: absolute;
    top: 19rem;
    left: 5rem;
}

.nub1{
    position: absolute;
    top: 6rem;
    left: 5rem;
    opacity: 0.3;
}

.nub2{
    position: absolute;
    top: 3rem;
    right: 23rem;
    opacity: 0.3;
}

.nub3{
    position: absolute;
    top: 19rem;
    right:5rem;
    opacity: 0.3;
}