.start{
    width: 100%;
    height: 100%;    
    display: flex;
    flex-direction: column;

}

.container_ilustrationStart {
    width: auto;
    height: 70%;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8rem;
}

.container_ilustrationStart>img {
    width: 33rem;
    height: auto;
    margin-top: -7%;
}

.container_description {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 8%;
}

.container_description>h1 {
    width: 100%;
    height: auto;
    color: #fff;
    font-size: 48px;
}

.container_description>p {
    width: 100%;
    height: auto;
    font-size: 16px;
    text-align: justify;
    color: #fff;
}

.complementary {
    color: #00843D;
}


/* mobile */
@media (max-width: 480px) { 
    .container_ilustrationStart>img{
        width: 20rem;
        height: auto;
    }

    .container_ilustrationStart{
        margin-left: 0;
        height: auto;
    }

    .container_description{
        width: 80%;
        height: auto;
        margin-left: 0;
        text-align: center;
    }

    .container_description>h1 {
        font-size: 32px;
    }
}
