.container_GestionsEmploye {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}



.container_GestionsEmploye>h2 {
    width: 100%;
    height: auto;
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin: 3rem 0 2rem 0;
}

.containerGestionsEmployeOptions {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;

}

.containerGestionsEmployeResults {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerConsultEmploye {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.containerConsultEmploye>p {
    width: 100%;
    height: auto;
    font-size: 18px;
    text-align: start;
}

.containerFiltersEmploye {
    width: 260px;
    height: auto;
    padding: 1rem;
    background-color: #2b2b2b;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
}

.containerFiltersEmploye>label {
    font-size: 16px;
    width: auto;
    height: auto;

}

.inputSearchContainer {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #1c1c1c;
    border-radius: 20px;
    overflow: hidden;
}

.inputSearchContainer input {
    flex: 1;
    height: 100%;
    padding: 0 1rem;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 0.85rem;
}

.inputSearchContainer input::placeholder {
    color: #aaa;
}

.searchButton {
    width: 30px;
    height: 30px;
    background-color: #00843d;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 5px;
}

.searchButton>img {
    width: 70%;
    height: 70%;
}

.statusButtons {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.statusButtons button {
    padding: 6px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    width: auto;
    height: auto;
    font-size: 14px;
    background-color: #b0b0b031; /* Fondo predeterminado para todos los botones */
    color: white; /* Color del texto predeterminado */
    transition: background-color 0.3s ease, transform 0.2s ease;
}



.statusButtons .inactive.selected {
    background-color: #00843d; /* Rojo para el botón seleccionado de "Inactivos" */
    color: white;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.statusButtons .active.selected {
    background-color: #00843d; /* Verde para el botón seleccionado de "Activos" */
    color: white;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btn_createEmploye {
    width: 100%;
    height: auto;
    background-color: #00843d;
    border-radius: 15px;
    border-style: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
}

#inputNameCC{
    border: none;
}
