.container_myCourses {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_myCourses>h2 {
    width: 100%;
    height: auto;
    font-size: 40px;
    text-align: center;
    margin: 3rem 0 2rem 0;
}

.containerMyCoursesAdminOptions {
    width: 40%;
    height: 58%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

/* Contenedor de los cursos */
.cursos-container {
    width: 100%;
    height: 80%;
    max-width: 960px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

/* Filtros */
.filtros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 2rem;
    width: 100%;
    height: auto;
}

.filtro {
    background: transparent;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    padding: 6px 14px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: auto;
    height: auto;
}

.filtro.activo {
    background-color: #00843D;
}

/* Botón final */
.ver-curso {
    width: auto;
    height: auto;
    padding: 0.5rem;
    background-color: #00843D;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
}


.illustration-woman{
    width: 9rem;
    height: auto;
    position: absolute;
    top: 18rem;
    left: 8rem;
}

.illustration-man{
    width: 11.5rem;
    height: auto;
    position: absolute;
    top: 18rem;
    right: 7rem;
}

.containerMisCoursesResults {
    width: 70%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-container-courses {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-track-courses {
    display: flex;
    width: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.carousel-card-courses {
    flex: 0 0 30%;
    transition: transform 0.4s ease-in-out;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: relative;
}

.carousel-card-courses.card-center-courses {
    transform: scale(1);
    z-index: 2;
}

.carousel-card-courses.card-side-courses {
    transform: scale(0.8);
    opacity: 0.8;
    z-index: 1;
}

.course-info {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.imagen-curso {
    width: 100%;
    height: 14rem;
    overflow: hidden;
    border-radius: 10px;
}

.imagen-curso img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course-info h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    margin: 8px 0;
}

.course-info p {
    font-size: 0.95rem;
    color: #555;
    margin: 4px 0;
    word-wrap: break-word;
}



.arrow-courses.left,
.arrow-courses.right {
    width: 3rem;
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-style: none;
    background-color: #00843D;
    font-size: 1.5rem;
}

.no-results {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.1rem;
    color: #888;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-course-info {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 15px 10px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* semitransparente */
    text-align: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.overlay-course-info h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    width: auto;
    height: auto;
    margin-top: 4rem;

}

.overlay-course-info p {
    font-size: 1rem;
    margin: 0;
    width: auto;
    height: auto;
}
