.container_informationResetPassword {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  position: relative;
  bottom: 72%;
  left: 5%;
  text-align: center;

}

#reset-password-container {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.579);
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.password-requirements_resetPassword {
  width: 10rem;
  height: auto;
  list-style: none;
  padding: 0;
  margin: 10px 0;
  position: relative;
  top: -1em;
  background-color: #b0b0b01f;
  border-radius: 15px;
  padding: 10px;
}

.password-requirements_resetPassword li {
  width: 100%;
  height: auto;
  font-size: 0.9rem;
}

.password-requirements_resetPassword li.valid {
  color: #00843d;
}

.password-requirements_resetPassword li.invalid {
  color: #e53935;
}

.closeModal {
  width: 142px;
  height: 115px;
  background: #b0b0b0;
  clip-path: path("M142 115C142 2 0 115 0 0H130C138.581 2.52132 141.503 5.87638 142 16.5V115Z"
    );
  opacity: 0.3;
  border-style: none;
  cursor: pointer;
}

.container_return2 {
  width: 142px;
  height: 142px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 24.5625rem;
  left: 16.125rem;
}

.container_return2>h5 {
  width: auto;
  height: auto;
  position: relative;
  top: 27%;
  font-size: 18px;
  font-weight: 400;
  z-index: 1000;
  color: #fff;
  left: 4%;
  cursor: pointer;
}