#modal-overlayCreateInstructor {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.579);
    display: none;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-bodyCreateInstructor {
    width: 800px;
    height: 550px;
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    gap: 5rem;
}

.modal-left {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.modal-left label {
    width: 100%;
    height: auto;
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.modal-left input {
    width: 15rem;
    height: 40px;
    margin-top: px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 0 10px;
}

.modal-right {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.profile-photo-container {
    width: 220px;
    height: 300px;
    position: relative;
}

.profile-photo-container img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.edit-photo-btn {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #00c853;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
}

.status-container {
    width: 100%;
    height: auto;
    color: white;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.status-container span {
    font-size: 16px;
    font-weight: bold;
    color: white;
    width: auto;
    height: auto;
}

.status-buttons {
    display: flex;
    gap: 10px;
    width: auto;
    height: auto;
}

.status {
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    background-color: #b0b0b028;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: auto;
    height: auto;
}

.status:hover {
    background-color: #444;
    transform: scale(1.05);

}

.status.active {
    background-color: #00843d;
    color: white;
    transform: scale(1.1);
    width: auto;
    height: auto;
}



.courses-container {
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    font-size: 14px;
}

.courses-container a {
    color: #00843d;
    margin-left: 5px;
    text-decoration: none;
    width: auto;
    height: auto;
}

.save-button {
    width: 140px;
    height: 45px;
    background-color: #00843d;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}



.container_return_CreateInstructor {
    width: 142px;
    height: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 89px;
    right: 388px;
    z-index: 1000;
}

.container_return_CreateInstructor>h5 {
    width: auto;
    height: auto;
    position: relative;
    top: 27%;
    font-size: 18px;
    font-weight: 400;
    z-index: 1000;
    color: #fff;
    left: 4%;
    cursor: pointer;
}

/* Para Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

