* {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    color: #fff;
}

.header {
    width: 100%;
    height: auto;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
        border-radius: 0 0 8rem 8rem;

}

.startOption,
.whoWeAre,
.courses,
.gestiones,
.empresas, .empleados {
    width: auto;
    height: auto;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    border-radius: 15px;

}

.startOption:hover,
.whoWeAre:hover,
.courses:hover {
    background-color: #00843D;
}


.startOption.active,
.whoWeAre.active,
.courses.active,
.gestiones.active,
.empresas.active,
.empleados.active {
    background-color: #00843D;
}

.courses-menu,
.gestiones-menu,
.empleados-menu {
    position: relative;
    width: auto;
    height: auto;
}

.courses,
.gestiones,
.empresas,
.empleados {
    color: white;
    border-radius: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: auto;
    height: auto;
    transition: background 0.3s ease;
}



.courses:hover,
.courses.active,
.gestiones:hover,
.gestiones.active {
    background-color: #006c30;
    width: auto;
}

.dropdown-courses,
.dropdown-gestiones,
.dropdown-empleados {
    position: absolute;
    top: 2.5rem;
    left: 0;
    background-color: #007736;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    width: 160px;
    height: auto;
}

.dropdown-courses button,
.dropdown-gestiones button,
.dropdown-empleados button {
    background: transparent;
    border: none;
    color: white;
    padding: 0.7rem 1rem;
    text-align: start;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.2s ease;
    width: auto;
    height: auto;
}

.dropdown-courses button:hover,
.dropdown-gestiones button:hover,
.dropdown-empleados button:hover {
    background-color: #005c2e;
    border-radius: 0.5rem;
}

.arrow-up {
    position: absolute;
    top: -10px;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #007736;
}

@media (max-width: 768px) {
    .header {
        width: 412px;
    }

    .startOption.active,
    .whoWeAre.active,
    .courses.active,
    .gestiones.active,
    .empresas.active,
    .empleados.active {
        background-color: #1a1a1a;
    }


}