.container_createCourse {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_createCourse>h2 {
  width: 100%;
  height: auto;
  color: #fff;
  font-size: 48px;
  text-align: center;
  margin-top: 2rem;
}

.containerInformation_CreateCourse {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 5rem;
}

.containerInformation_CreateCourse>input {
  width: 12rem;
  height: 17rem;
  border: 2px dotted #b0b0b0;
  border-radius: 15px;
}

.containerInput_description_course {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.descripcion-counter {
  width: auto;
  height: auto;
  font-size: 0.95em;
  margin-top: 2px;
}

.descripcion-counter.rojo {
  color: #d32f2f;
  /* Rojo cuando es menor a 250 */
}

.descripcion-counter.verde {
  color: #388e3c;
  /* Verde cuando es 250 o más */
}

.upload-area {
  width: 220px;
  height: 250px;
  border: 2px dotted #ccc;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background-color: #b0b0b048;
}

.upload-area:hover {
  border-color: #00843D;
}

.upload-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.icon {
  width: 90px;
  height: auto;
  margin: 4rem 0 2rem 0;
  opacity: 0.6;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.upload-placeholder>p {
  width: 10rem;
  height: auto;
}

.containerDetails_course {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: center;
}



.addName,
.addDetails {
  width: 99%;
  height: 2rem;
  background-color: transparent;
  border-style: none;
  border: 1px solid #b0b0b0;
  border-radius: 10px;
  padding-left: 5px;
}

/* Chrome, Safari, Edge, Opera */
#fichaCourse::-webkit-outer-spin-button,
#fichaCourse::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.addDetails {
  height: 5rem;
  padding-top: 5px;
}

.buttonCreate_Course {

  width: 10rem;
  height: auto;
  background-color: #00843D;
  list-style: none;
  border-style: none;
  border-radius: 15px;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem;

}

.offer-type-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
  width: auto;
  height: auto;
  justify-content: start;
}

.offer-type-container>span {
  width: auto;
  height: auto;
  font-size: 14px;
}

.offer-options {
  width: auto;
  height: auto;
  display: flex;
  gap: 8px;
}

.offer-button {
  padding: 4px 12px;
  border-radius: 999px;
  width: auto;
  height: auto;
  font-weight: 600;
  cursor: pointer;
  border: none;
  background-color: #b0b0b01c;
  color: #ccc;
  transition: all 0.2s ease;
}

.offer-button.active {
  background-color: #00843D;
  /* verde */
  color: white;
  width: auto;
  height: auto;
}

.containerInput_company,
#containerInput_ficha {
  width: auto;
  height: auto;
  display: flex;
  font-size: 14px;
  align-items: center;
  gap: 0.5rem;
}

#containerInput_ficha {
  justify-content: end;
  width: 100%;
}


#nit_company,
#fichaCourse {
  width: 8rem;
  height: auto;
  font-size: 12px;
  border: 1px solid #b0b0b0;
  border-radius: 10px;
  padding: 0.3rem;
  border-style: node;
  background-color: #1a1a1a;
  z-index: 100;
}

.containerInput_company>label,
#containerInput_ficha>label {
  width: auto;
  height: auto;
}

#p_addInstructor {
  width: auto;
  height: auto;
  font-size: 14px;
  text-align: start;
  display: flex;
  align-items: center;
}

#p_addInstructor>button {
  width: auto;
  height: auto;
  background-color: transparent;
  border-style: none;
  margin-left: 7px;

}

#p_addInstructor>button>img {
  width: 1.5rem;
  height: auto;
}

.containerDetails_course2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0 1rem 0;
}

.containerDetails_course2>div {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.addDate {
  width: auto;
  height: auto;
  background-color: transparent;
  border-style: none;
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #00843D;
}

.addDate>img {
  width: 2rem;
  height: auto;
  margin: 1rem 0 0.5rem 0;
}

/* Resultado de búsqueda empresa */
.resultados-empresa {
  list-style: none;
  border-left: 1px solid #b0b0b0;
  border-right: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
  max-height: 150px;
  min-height: 38px;
  overflow-y: auto;
  background-color: #1a1a1a;
  position: absolute;
  bottom: 5.5rem;
  left: 34.9rem;
  z-index: 10;
  width: 10%;
  height: auto;
}

.resultados-empresa li {
  padding: 20px 8px 8px 8px;
  cursor: pointer;
  transition: background 0.2s ease;
  width: auto;
  height: auto;
}

.resultados-empresa li:hover {
  background-color: #00843e81;
}

.empresa-seleccionada{
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.nombre_empresaSeleccionada{
  width: auto;
  height: auto;
  font-size: 14px;
  color: #fff;
  margin: 0;
}

.buttonEditEmpresa{
  width: auto;
  height: auto;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #00843D;
  font-size: 14px;
}