.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-background {
  width: 45rem;
  height: 37rem;
  background: #1A1A1A;
  border-radius: 25px;
  backdrop-filter: blur(15px);
  z-index: 998;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_return_EditCalendar {
  width: 8.875rem;
  height: 8.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -1.5rem;
  right: 0;
  z-index: 1000;
}

.container_return_EditCalendar h5 {
  width: auto;
  height: auto;
  position: relative;
  top: 27%;
  font-size: 1.125rem;
  font-weight: 400;
  z-index: 1000;
  color: #fff;
  left: 4%;
  cursor: pointer;
}

.modal-title-edit-calendar {
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  width: auto;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.highlight {
  color: #00843D;
  font-size: 1.8rem;
  font-weight: 600;
}

.organized-date-inputs {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;

}

.organized-date-inputs label {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.organized-date-inputs input[type="date"] {
  width: 7rem;
  height: auto;
  border: 1px solid #333;
  background-color: #111;
  color: #eee;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
}

.organized-date-inputs input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.organized-date-inputs input[type="date"]:focus {
  outline: none;
  border-color: #00843D;
  box-shadow: 0 0 0 2px rgba(0, 132, 61, 0.2);
}

.error-message-calendar {
  position: absolute;
  top: 9rem;
  right: 1rem;
  transform: translateX(-50%);
  color: #ff4444;
  font-size: 0.9rem;
  text-align: center;
  width: auto;
  height: auto;
}

.calendar-container-edit {
  display: flex;
  justify-content: center;
  align-items: start;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  padding: 1rem;
  margin-top: 3rem;
  width: 17rem;
  height: 17rem;
  overflow: hidden;
}

.calendar-scroll-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  /* Aquí es donde se aplicará el scroll */
}

.calendar-table {
  width: 100%;
  border-collapse: collapse;
  user-select: none;
}


.calendar-table th,
.calendar-table td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 8px 5px;
  font-size: 0.85rem;
  color: #ccc;
}

.calendar-table th {
  background-color: rgba(255, 255, 255, 0.05);
  color: #00843D;
  font-weight: 600;
}

.calendar-table td.slot-cell {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease;
  position: relative;
}

.calendar-table td.slot-cell:hover {
  background-color: rgba(0, 132, 61, 0.2);
}

.calendar-table td.slot-cell.selected {
  background-color: rgba(0, 132, 61, 0.4);
}

.plus-icon {
  color: #00843e88;
  font-weight: bold;
  font-size: 1.2rem;
  user-select: none;
}

.save-button-calendar {
  background-color: #00843D;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  width: auto;
  height: auto;
  padding: 0.8rem;
  margin-top: 2rem;
}